body{
  background-color: black;
}
.flagContainer{
  height: 10vh;
  width: 20vh;
  margin-top: 10px;
}
/* Indonesia */
#indonesia :first-child{
  background-color: red;
  height: 50%;
  width: 115px;
}
#indonesia :nth-child(2){
  background-color: white;
  height: 50%;
  width: 115px;
}
/* Colombia */
#columbia :first-child{
  height: 50%;
  background-color: yellow;
}

#columbia :nth-child(2){
  height: 25%;
  background-color: blue;
}

#columbia :nth-child(3){
  height: 25%;
  background-color: red;
}
/* Ireland */
#ireland{
  display:flex;
}
#ireland :first-child{
  width:33%;
  background-color: green;
}
#ireland :nth-child(2){
  width: 33%;
  background-color: white;
}
#ireland :nth-child(3){
  width: 33%;
  background-color: orange;
}
/* France */
#france{
  font-size: 0rem;
}
#france > *{
  display: inline-block;
  height: 100%;
  width: 33.33%;
}
#france div:nth-of-type(1){
  background-color: blue;
}
#france div:nth-of-type(2){
  background-color: white;
}
#france div:nth-of-type(3){
  background-color: red;
}

/* Benin */
#benin {
  font-size: 0%;
}
#benin > *{
  display: inline-block;
  height: 100%;
  width: 33%;
}
#benin div:nth-of-type(1){
  background-color:green;
}
#benin div:nth-of-type(2) div{
  height: 50%;
  width: 200%;
}
#benin div:nth-of-type(2) div:nth-of-type(1){
  background-color:yellow;
}
#benin div:nth-of-type(2) div:nth-of-type(2){
  background-color:red;
}

/* Sweden */

#sweden{
  font-size:0;
}

/* Switzerland */

/* Tonga */

/* Japan */

/* Canada */

/* Norway */

/* Greece */

/* Somalia */

/* Chile */

/* Turkey */

/* China */

/* Cuba */

/* Western Sahara */

/* Kuwait */

/* Venezuela */

/* Trinidad And Tobago */

/* United Kingdom */

/* New Zealand */

/* United States */

/* Seychelle */
